In [1]:
import pandas as pd

df = pd.read_csv("dim_customer.csv")

# Convert the date column to PostgreSQL-friendly format (YYYY-MM-DD)
df["signup_date"] = pd.to_datetime(df["signup_date"], format="%d-%m-%Y")

# Optional: save cleaned version for SQL import
df.to_csv("dim_customer_clean.csv", index=False)

In [3]:
import pandas as pd

df = pd.read_csv("fact_ratings.csv")

# Convert the review_timestamp column
# Current format looks like: "13-01-2025 00:00"
df["review_timestamp"] = pd.to_datetime(df["review_timestamp"], format="%d-%m-%Y %H:%M")

# Save back to a new CSV file
df.to_csv("fact_ratings_fixed.csv", index=False)

In [7]:
df = pd.read_csv("fact_ratings_fixed.csv")
df[df["rating"].isna()]

,order_id,customer_id,restaurant_id,rating,review_text,review_timestamp,sentiment_score
68812,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68815,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68816,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68826,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68828,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68830,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68831,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68832,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68833,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68834,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68835,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68836,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68837,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68838,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68839,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68840,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68841,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
import pandas as pd

# Step 1: Read CSV and explicitly tell pandas to treat blanks as NaN
df = pd.read_csv("fact_ratings_fixed.csv", na_values=["", " "])

# Step 2: Convert rating column to numeric (force errors to NaN)
df["rating"] = pd.to_numeric(df["rating"], errors="coerce")

# Step 3: Drop rows where rating is missing
df = df[df["rating"].notna()]

# Step 4: Optional – check there are no blanks left
print(df["rating"].isna().sum())  # should show 0

# Step 5: Save cleaned data
df.to_csv("fact_ratings_clean.csv", index=False)

0